body {
  font-family: Arial, sans-serif;
}
h1{
  font-family: monospace;
  color: #999595;
  text-align: left;
  
}
#container {
  width: 80%;
  margin: 0 auto;
}

#navbar {
  background-color: #879599;
  padding: 10px;
}

#navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-family: fantasy;
}

#contenido {
  width: 70%;
  background-color: #b5ec91;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 2%;
}

#contenido p {
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #e4e4e4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}
#sidebar {
  width: 60%; /* Ajustamos el ancho para tener en cuenta el margen derecho */
  background-color: #d0f8c6;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar li {
  margin-bottom: 5px;
}
button{

}