body {
    background-color: #f0f0f0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.container {
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.time-container {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.score-container {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.end-game-container {
    display: none;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.end-game-container button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.end-game-container button:hover {
    background-color: #3e8e41;
}