body{
    background-color: rgb(15, 15, 15);
}
header{
    margin: 0px;
}
#contenedor_juego{
    font-family: sans-serif;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: rgb(98, 5, 5);
    height: 25px ;
    border-color: beige;
    font-size: 10px;
    width: 100%;
}
span{
border: 20px;
color: whitesmoke ;
font: bold;
}
.titulo{
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imagen{
    align-items: center;
    text-align: center;
}
img{
    width: 33%;
    border-radius: 2%;
}
#boton-empezar{
    align-items: center;
    text-align: center; 
}

button{
    color: beige;
    background-color: black;
    height: 50px;
    width: 170px;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: beige;
   
}