body{
    background-color: black;
}
.Texto-Historia {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1{
color: brown;
}
.Texto-Historia p {
    color: aliceblue;
    text-align: center;
    font-size: 25px;
}
.Texto-Historia h1{
    color: floralwhite;
}
/*Parte del resaltado*/
.resaltado {
    background-color: yellow; /* Color de fondo amarillo */
    color: red; /* Color de letra rojo */
}